database/__pycache__
database/database.db
DiaPrognosis_IBM.py
test
venvMassive
venv310
model
NotFixForCpanel.py
testForAnotherUpdate.py
DiaPrognosis.zip
__pycache__
penting.txt
.venv
db.py
db.py.txt
history.db
testForAnotherUpdate.py.txt
forCpanel.py
api
testAPI
